[workspace]
resolver = "3"
members = [
    "igait-lib",
    "igait-backend",
    
    # Stage microservices
    #"igait-stages/igait-stage1-media-conversion",
    #"igait-stages/igait-stage2-validity-check",
    #"igait-stages/igait-stage3-reframing",
    #"igait-stages/igait-stage4-pose-estimation",
    #"igait-stages/igait-stage5-cycle-detection",
    #"igait-stages/igait-stage6-prediction",
]

[workspace.dependencies]
# Core
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["full"] }
async-trait = "0.1"
chrono = { version = "0.4", features = ["serde"] }
zip = "2"

# Web framework
axum = { version = "0.7", features = ["multipart", "ws"] }
tower-http = { version = "0.5", features = ["cors", "fs"] }
reqwest = { version = "0.12", features = ["json"] }

# Internal
igait-lib = { path = "./igait-lib", features = ["microservice"] }
