body {
    margin: 0;
    padding: 0;
}

.Signout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.background {
    background-color: #d6d6d6;
    width: 100%;
    height: 100%;
    position: absolute;
}

.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: 380px;
    height: 220px;
    border-radius: 35px;
    flex-direction: column;
}

.logout-container h1 {
    top: -15px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.logout-container p {
    top: -20px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.logout-button {
    padding: 10px 20px;
    background-color: #157EFB; 
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 150px;
    top: -120px;
    margin-bottom: 20px;
}

.signout-text-small,
.signout-text {
    color: black;
}