.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4285f4;
    width: auto;
}

.consent-agreement-div {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
    color: black;
}

.link-text {
    color: #4285f4;
}

.checkbox-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: auto;
    padding-bottom: 5px;
    color: black;
}

.checkbox-div label {
    display: inline-block;
    padding-left: 5px;
    text-align: start;
}
